﻿.dns_box_main 
{
	position: fixed;
    top: 30%;
    left: 40%;
	width: 350px;
	z-index: 1001;
	background-color: #ffffdd;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    visibility: hidden;
}
.dns_drop_shadow
{
	box-shadow: 7px 7px 8px #000000;
    -webkit-box-shadow: 7px 7px 8px #000000;
    -moz-box-shadow: 7px 7px 8px #000000;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000000, offX=7, offY=7, positive=true);
}
.dns_box_header 
{
	width: 350px;
	height: 47px;
}
.dns_box_heder_title 
{
	width: 326px;
	height: 47px;
	float: left;
}
.dns_box_header_close 
{
	width: 21px;
	float: left;
	padding-right: 3px;
	padding-top: 2px;
}
.dns_box_body 
{
	width: 350px;
}
.dns_box_icon 
{
	width: 40px;
	float: left;
	padding-left: 24px;
}
.dns_box_message 
{
	width: 262px;
	font: 12px arial, sans-serif;
	font-weight: bold;
	padding-top: 7px;
	padding-right: 24px;
	float: left;
	text-align: center;
}
.dns_box_footer 
{
	width: 335px;
	padding-right: 15px;
	padding-top: 20px;
}
.dns_box_bottom 
{
	height: 30px;
}