﻿.dns_pb_background 
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    visibility: hidden;
}