﻿.dns_pre_btn_base 
{
	border-width: 1px;
	border-color: #FFFFFF;
	color: #FFFFFF;
	width: auto;
	float: left;
	cursor: pointer;
	border-style: double;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;    
	font-size: 12px;
}
/* Green button */
.dns_pre_btn_green 
{
	background-color: #30d73c;
}
.dns_pre_btn_green:hover 
{
	background-color: #2bad34;
	border-color: #000000;
}
/* Red button */
.dns_pre_btn_red 
{
	background-color: #f21919;
}

.dns_pre_btn_red:hover 
{
	background-color: #ba1616;
	border-color: #000000;
}
