﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Mamgements.aspx.cs" Inherits="UI.Admin.Mamgements" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Thai Japan Gas</title>
    <link rel="stylesheet" href="_css/popup.css" />
    <link rel="stylesheet" href="_css/btnbootstrap.css" />
    <link rel="stylesheet" href="_css/button.css" />
    <link rel="stylesheet" type="text/css" href="../_css/main.css" />
    <link rel="stylesheet" type="text/css" href="../_css/styles.css" />
    <link rel="stylesheet" href="_css/element-view.css" />
    <script src="../_js/script.js" type="text/javascript"></script>
    <script src="_js/jquery1.7.1.js" type="text/javascript"></script>
    <script src="_js/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="_js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("[id*=dgvCustomer] td").hover(function () {
                $("td", $(this).closest("tr")).addClass("hover_row");
            }
            ,
            function () {
                $("td", $(this).closest("tr")).removeClass("hover_row");
            });

            $("[id*=dgvItems] td").hover(function () {
                $("td", $(this).closest("tr")).addClass("hover_row");
            }
            ,
            function () {
                $("td", $(this).closest("tr")).removeClass("hover_row");
            });
        });

        function selectText() {
            document.getElementById("<%=txtpageIndex.ClientID %>").select();
            document.getElementById("<%=txtpageIndex.ClientID %>").focus();
        }
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        function DisplayLoading() {
            if ($('#upFile').val().length) {
                document.getElementById("loading").style.display = 'block';
            }
            else {
                document.getElementById("loading").style.display = 'none';
            }
        }

        function Confirm() {
            if (confirm("คุณต้องการรับข้อมูลจาก Hand Held  ใช่หรือไม่?")) {
                document.getElementById('txthidConfirm').value = "Yes";
                document.getElementById("loading").style.display = 'block';
            } else {
                document.getElementById('txthidConfirm').value = "No";
                document.getElementById("loading").style.display = 'none';
            }
        }
    </script>

    <style type="text/css">
        .Initial {
            display: block;
            padding: 4px 18px 4px 18px;
            float: left;
            background: url("../_images/InitialImage.png") no-repeat right top;
            /*background-color:#089bfc;*/
            color: Black;
            font-weight: bold;
        }

            .Initial:hover {
                color: White;
                background: url("../_images/SelectedButton.png") no-repeat right top;
                /*background-color:#006699;*/
            }

        .Clicked {
            float: left;
            display: block;
            background: url("../_images/SelectedButton.png") no-repeat right top;
            /*background-color:#006699;*/
            padding: 4px 18px 4px 18px;
            color: Black;
            font-weight: bold;
            color: White;
        }

        .auto-style1 {
            width: 128px;
        }

        .auto-style4 {
            width: 208px;
        }

        .auto-style5 {
            width: 80px;
        }

        #loading-image {
            border-width: 0px;
            position: fixed;
            padding: 50px;
            left: 40%;
            top: 30%;
        }
    </style>
</head>
<body style="font-family: 'Open Sans', sans-serif;">
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager" runat="server" />
        <asp:Timer runat="server" id="UpdateTimer" interval="1000" ontick="UpdateTimer_Tick" />
        <div id="light" runat="server" class="white_content">
            <asp:ImageButton ID="imgcloseted" runat="server" CssClass="closeted" ToolTip="Close" ImageUrl="~/_images/close-icon.png" OnClick="imgcloseted_Click" />
            <table id="tbMasterData" style="width: 100%;">
                <tr style="background-color: #006699;">
                    <td>
                        <asp:Label ID="lblMasterData" runat="server" Text="Master Data" ForeColor="White"></asp:Label>
                    </td>
                </tr>
                <tr>
                    <td style="height: 0px;"></td>
                </tr>
                <tr>
                    <td>
                        <asp:Button Text="Customer" BorderStyle="None" ID="TabCustomer" CssClass="Initial" runat="server" OnClick="TabCustomer_Click" />
                        <asp:Button Text="Import Customer" BorderStyle="None" ID="TabImportCustomer" CssClass="Initial" runat="server" OnClick="TabImportCustomer_Click" />
                        <asp:Button Text="Items" BorderStyle="None" ID="TabItems" CssClass="Initial" runat="server" OnClick="TabItems_Click" />
                        <asp:MultiView ID="MultiViewMaster" runat="server">
                            <asp:View ID="ViewCustomer" runat="server">
                                <asp:UpdatePanel ID="unpCustomer" runat="server">
                                    <ContentTemplate>
                                        <table style="width: 100%; border-width: 1px; border-color: #666; border-style: solid">
                                            <tr>
                                                <td class="auto-style1">
                                                    <asp:Label ID="lblCustomerCode" runat="server" Text="Customer Code"></asp:Label>
                                                </td>
                                                <td class="auto-style4">
                                                    <asp:TextBox ID="txtCustomerCode" runat="server"></asp:TextBox>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <asp:ImageButton ID="imgSearch" runat="server" ImageUrl="~/_images/search.png" Height="22px" Width="22px" OnClick="imgSearch_Click" />
                                                    <asp:TextBox ID="txtAction" runat="server" Visible="false"></asp:TextBox>
                                                </td>
                                                <td rowspan="2">
                                                    <asp:Button ID="btnSaveCustomer" runat="server" CssClass="button button-action" Text="Save" OnClick="btnSaveCustomer_Click" />&nbsp;&nbsp;&nbsp;
                                                    <asp:Button ID="btnClearCustomer" runat="server" CssClass="button button-royal" Text="Clear" OnClick="btnClearCustomer_Click" />&nbsp;&nbsp;&nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="auto-style1">
                                                    <asp:Label ID="lblCustomerName" runat="server" Text="Customer Name"></asp:Label>&nbsp;&nbsp;&nbsp;
                                                    
                                                </td>
                                                <td class="auto-style4">
                                                    <asp:TextBox ID="txtCustomerName" runat="server" Width="400px"></asp:TextBox>
                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="auto-style1">
                                                    <asp:Label ID="lblIsActive" runat="server" Text="Is Active"></asp:Label>&nbsp;&nbsp;&nbsp;
                                                    
                                                </td>
                                                <td class="auto-style4">
                                                    <asp:CheckBox ID="chkIsActive" runat="server" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <asp:GridView ID="dgvCustomer" runat="server" AutoGenerateColumns="False" Width="100%">
                                                        <HeaderStyle BackColor="#006699" Height="30px"></HeaderStyle>
                                                        <Columns>
                                                            <asp:TemplateField>
                                                                <ItemStyle Width="35px" />
                                                                <HeaderStyle CssClass="headerRow" />
                                                                <ItemTemplate>
                                                                    <asp:ImageButton ID="EditImageButton" CommandArgument='<%# Eval("guid") %>' runat="server"
                                                                        ImageUrl="~/_images/edit.gif" OnClick="EditImageButton_Click"></asp:ImageButton>
                                                                    <asp:ImageButton ID="DeleteImageButton" ImageUrl="~/_images/delete.gif" runat="server"
                                                                        Visible="true" OnClick="DeleteImageButton_Click" CommandArgument='<%# Eval("guid") %>'
                                                                        OnClientClick="return confirm('ยืนยันลบรายการที่เลือก?');" />
                                                                </ItemTemplate>
                                                            </asp:TemplateField>
                                                            <asp:BoundField DataField="guid" HeaderText="guid" Visible="False">
                                                                <HeaderStyle ForeColor="White" />
                                                                <ItemStyle Width="0px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="customer_code" HeaderText="Customer Code">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="80px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="customer_name" HeaderText="Customer Name">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="300px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="is_active" HeaderText="Active">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="50px" HorizontalAlign="Center" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="create_date" HeaderText="Create Date">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="120px" />
                                                            </asp:BoundField>
                                                        </Columns>
                                                    </asp:GridView>
                                                    <br />
                                                    <asp:Panel ID="NavigationPanelCustomer" Visible="true" runat="server">
                                                        <table border="0" cellpadding="3" cellspacing="3">
                                                            <tr>
                                                                <td>
                                                                    <asp:Label ID="lblCusSearchingCount" runat="server" Visible="false"></asp:Label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 100">Page
                                                            <asp:Label ID="CusCurrentPageLabel" runat="server" />
                                                                    of
                                                            <asp:Label ID="CusTotalPagesLabel" runat="server" />
                                                                </td>
                                                                <td>
                                                                    <asp:LinkButton ID="CusFirstpage" Text="<< Start" runat="server" Style="text-decoration: none; color: #089bfc;" OnClick="CusFirstpage_Click" />
                                                                </td>
                                                                <td style="width: 60px">
                                                                    <asp:LinkButton ID="CusPreviousButton" Text="< Prev" Style="text-decoration: none; color: #089bfc;" runat="server" OnClick="CusPreviousButton_Click" />
                                                                </td>
                                                                <td style="width: 60px">
                                                                    <asp:LinkButton ID="CusNextButton" Text="Next >" Style="text-decoration: none; color: #089bfc;" runat="server" OnClick="CusNextButton_Click" />
                                                                </td>
                                                                <td>
                                                                    <asp:LinkButton ID="CusEndpage" Text="End >>" Style="text-decoration: none; color: #089bfc;" runat="server" OnClick="CusEndpage_Click" />
                                                                </td>
                                                                <td>
                                                                    <asp:Label ID="lblCuspageIndex" runat="server" Text="Page"></asp:Label>
                                                                </td>
                                                                <td>
                                                                    <asp:TextBox ID="txtCuspageIndex" runat="server" Width="35px" MaxLength="4" Height="17px" onkeypress="return isNumberKey(event);"></asp:TextBox>
                                                                </td>
                                                                <td>
                                                                    <asp:Button ID="btnCusGO" runat="server" Text="Go" Width="40px" Style="text-align: center;" CssClass="btnOpen btnOpen-5" Height="22px" OnClick="btnCusGO_Click" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </asp:Panel>
                                                </td>
                                            </tr>
                                        </table>
                                    </ContentTemplate>
                                </asp:UpdatePanel>
                            </asp:View>
                            <asp:View ID="ViewImportCustomer" runat="server">
                                <table style="width: 100%; border-width: 1px; border-color: #666; border-style: solid">
                                    <tr>
                                        <td class="auto-style5">
                                            <asp:Label ID="lblPathFile" runat="server" Text="File Import"></asp:Label>
                                        </td>
                                        <td class="auto-style4">
                                            <asp:FileUpload ID="upFile" runat="server"></asp:FileUpload>
                                        </td>
                                        <td rowspan="2">
                                            <asp:Button ID="btnImport" runat="server" CssClass="button button-action" Text="Import" OnClick="btnImport_Click" OnClientClick="DisplayLoading();" />&nbsp;&nbsp;&nbsp;
                                            <asp:Button ID="btnClearPathFile" runat="server" CssClass="button button-royal" Text="Clear" OnClick="btnClearPathFile_Click" />&nbsp;&nbsp;&nbsp;
                                        </td>
                                    </tr>
                                </table>
                            </asp:View>
                            <asp:View ID="ViewItems" runat="server">
                                <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                                    <ContentTemplate>
                                        <table style="width: 100%; border-width: 1px; border-color: #666; border-style: solid">
                                            <tr>
                                                <td class="auto-style1">
                                                    <asp:Label ID="lblTempItemCode" runat="server" Text="Temp Item Code"></asp:Label>
                                                </td>
                                                <td class="auto-style4">
                                                    <asp:TextBox ID="txtTempItemCode" runat="server"></asp:TextBox>
                                                    <asp:TextBox ID="txtItemAction" runat="server" Visible="false"></asp:TextBox>
                                                </td>
                                                <td rowspan="3">
                                                    <asp:Button ID="btnSaveItem" runat="server" CssClass="button button-action" Text="Save" OnClick="btnSaveItem_Click" /><br />
                                                    <br />
                                                    <asp:Button ID="btnClearItem" runat="server" CssClass="button button-royal" Text="Clear" OnClick="btnClearItem_Click" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="auto-style1">
                                                    <asp:Label ID="lblFullItemCode" runat="server" Text="Full Item Code"></asp:Label>
                                                </td>
                                                <td class="auto-style4">
                                                    <asp:TextBox ID="txtFullItemCode" runat="server"></asp:TextBox>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="auto-style1">
                                                    <asp:Label ID="lblItemName" runat="server" Text="Item Name"></asp:Label>
                                                </td>
                                                <td class="auto-style4">
                                                    <asp:TextBox ID="txtItemName" runat="server"></asp:TextBox>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="auto-style1">
                                                    <asp:Label ID="lblItemIsActive" runat="server" Text="Is Active"></asp:Label>&nbsp;&nbsp;&nbsp;
                                                    
                                                </td>
                                                <td class="auto-style4">
                                                    <asp:CheckBox ID="chkItemIsActive" runat="server" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <asp:GridView ID="dgvItems" runat="server" AutoGenerateColumns="False" Width="100%">
                                                        <HeaderStyle BackColor="#006699" Height="30px"></HeaderStyle>
                                                        <Columns>
                                                            <asp:TemplateField>
                                                                <ItemStyle Width="35px" />
                                                                <HeaderStyle CssClass="headerRow" />
                                                                <ItemTemplate>
                                                                    <asp:ImageButton ID="EditItemsImageButton" CommandArgument='<%# Eval("guid") %>' runat="server"
                                                                        ImageUrl="~/_images/edit.gif" OnClick="EditItemsImageButton_Click"></asp:ImageButton>
                                                                    <asp:ImageButton ID="DeleteItemsImageButton" ImageUrl="~/_images/delete.gif" runat="server"
                                                                        Visible="true" OnClick="DeleteItemsImageButton_Click" CommandArgument='<%# Eval("guid") %>'
                                                                        OnClientClick="return confirm('ยืนยันลบรายการที่เลือก?');" />
                                                                </ItemTemplate>
                                                            </asp:TemplateField>
                                                            <asp:BoundField DataField="guid" HeaderText="guid" Visible="False">
                                                                <HeaderStyle ForeColor="White" />
                                                                <ItemStyle Width="0px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="temp_item_code" HeaderText="Temp Item Code">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="100px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="full_item_code" HeaderText="Full Item Code">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="100px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="item_name" HeaderText="Item Name">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="100px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="is_active" HeaderText="Active">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="50px" HorizontalAlign="Center" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="create_date" HeaderText="Create Date">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="120px" />
                                                            </asp:BoundField>
                                                        </Columns>
                                                    </asp:GridView>
                                                    <br />
                                                    <asp:Panel ID="NavigationPanelItems" Visible="true" runat="server">
                                                        <table border="0" cellpadding="3" cellspacing="3">
                                                            <tr>
                                                                <td>
                                                                    <asp:Label ID="lblItemsSearchingCount" runat="server" Visible="false"></asp:Label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 100">Page
                                                            <asp:Label ID="ItemsCurrentPageLabel" runat="server" />
                                                                    of
                                                            <asp:Label ID="ItemsTotalPagesLabel" runat="server" />
                                                                </td>
                                                                <td>
                                                                    <asp:LinkButton ID="ItemsFirstpage" Text="<< Start" runat="server" Style="text-decoration: none; color: #089bfc;" OnClick="ItemsFirstpage_Click" />
                                                                </td>
                                                                <td style="width: 60px">
                                                                    <asp:LinkButton ID="ItemsPreviousButton" Text="< Prev" Style="text-decoration: none; color: #089bfc;" runat="server" OnClick="ItemsPreviousButton_Click" />
                                                                </td>
                                                                <td style="width: 60px">
                                                                    <asp:LinkButton ID="ItemsNextButton" Text="Next >" Style="text-decoration: none; color: #089bfc;" runat="server" OnClick="ItemsNextButton_Click" />
                                                                </td>
                                                                <td>
                                                                    <asp:LinkButton ID="ItemsEndpage" Text="End >>" Style="text-decoration: none; color: #089bfc;" runat="server" OnClick="ItemsEndpage_Click" />
                                                                </td>
                                                                <td>
                                                                    <asp:Label ID="lblItemspageIndex" runat="server" Text="Page"></asp:Label>
                                                                </td>
                                                                <td>
                                                                    <asp:TextBox ID="txtItemspageIndex" runat="server" Width="35px" MaxLength="4" Height="17px" onkeypress="return isNumberKey(event);"></asp:TextBox>
                                                                </td>
                                                                <td>
                                                                    <asp:Button ID="btnItemsGO" runat="server" Text="Go" Width="40px" Style="text-align: center;" CssClass="btnOpen btnOpen-5" Height="22px" OnClick="btnItemsGO_Click" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </asp:Panel>
                                                </td>
                                            </tr>
                                        </table>
                                    </ContentTemplate>
                                </asp:UpdatePanel>
                            </asp:View>
                        </asp:MultiView>
                    </td>
                </tr>
            </table>
        </div>
        <div id="fade" runat="server" class="black_overlay"></div>
        <asp:UpdatePanel ID="upnmain" runat="server">
            <Triggers>
                <asp:AsyncPostBackTrigger controlid="UpdateTimer" eventname="Tick" />
                <asp:PostBackTrigger ControlID="btnAddMaster"></asp:PostBackTrigger>
                <asp:PostBackTrigger ControlID="btnExport"></asp:PostBackTrigger>
                <%--<asp:AsyncPostBackTrigger ControlID="btnExport" EventName="Click" />--%>
<asp:PostBackTrigger ControlID="btnAddMaster"></asp:PostBackTrigger>
<asp:PostBackTrigger ControlID="btnExport"></asp:PostBackTrigger>
            </Triggers>
            <ContentTemplate>
                <div id="loading" runat="server" style="display: none;">
                    <img id="loading-image" src="_images/loading.gif" />
                </div>
                <div class="header">
                    <div class="fullpage">
                        <div id='cssmenu'>
                            <table>
                                <tr>
                                    <td style="height: 20px;"></td>
                                </tr>
                            </table>
                            <div class="login" id="bt_login">
                                <a href="Login.aspx" style="text-decoration: none; color: black;">
                                    <asp:Label ID="lblLogout" runat="server" Text="Log out" ForeColor="White" Font-Bold="true" Width="55px"></asp:Label></a>
                            </div>
                        </div>
                    </div>
                </div>
                <table style="width: 98%; margin-left: auto; margin-right: auto;" cellpadding="1"
                    cellspacing="1">
                    <tr>
                        <td style="height: 45px;">
                            <a href="Mamgements.aspx">
                                <asp:Image ID="imgMain" runat="server" ImageUrl="~/_images/LOGOTJG2.png" ImageAlign="Left" Width="220px" Height="80px" ToolTip="Thai Japan Gas Co.,Ltd" />
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <asp:Label ID="lblTitle" runat="server" ForeColor="#006699" Font-Size="30px" Font-Bold="True"></asp:Label>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 30px; text-align:right;">
                            <asp:Label ID="lblVersion" runat="server" Text="Version : x.x.x.x" Font-Bold="True" Font-Size="Medium"></asp:Label>
                            <asp:HiddenField ID="txthidConfirm" runat="server" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%--button button-action -> สีเขียว--%>
                            <%--button button-highlight -> สีส้ม--%>
                            <%--button button-caution -> สีแดง--%>
                            <%--button button-royal -> สีม่วง--%>
                            <asp:Button ID="btnReceiveData" runat="server" CssClass="button button-primary" Text="Receive Data" OnClick="btnReceiveData_Click" OnClientClick = "Confirm();" />&nbsp;&nbsp;&nbsp;&nbsp;
                            <asp:Button ID="btnLoadDatabase" runat="server" CssClass="button button-highlight" Visible ="false" Text="Load data from PDA" OnClick="btnLoadDatabase_Click"  />
                            <asp:Button ID="btnAddMaster" runat="server" CssClass="button button-highlight" Visible ="false" Text="Add Master" OnClick="btnAddMaster_Click" />
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 20px;"></td>
                    </tr>
                    <tr>
                        <td>
                            <asp:Panel ID="pnperson" runat="server" GroupingText="Transaction List" Width="98%" Style="text-align: left;">
                                <asp:Button Text="1.1.2 GI Ref Delivery" BorderStyle="None" ID="Tab1" CssClass="Initial" runat="server"
                                    OnClick="Tab1_Click" />
                                <asp:Button Text="1.2 Distribution Ret" BorderStyle="None" ID="Tab2" CssClass="Initial" runat="server"
                                    OnClick="Tab2_Click" />
                                <asp:Button Text="1.4.1 GRProduction" BorderStyle="None" ID="Tab3" CssClass="Initial" runat="server"
                                    OnClick="Tab3_Click" />
                                <asp:Button Text="  1.5.3 GI Ref Empty" BorderStyle="None" ID="Tab4" CssClass="Initial" runat="server"
                                    OnClick="Tab4_Click" />
                                <asp:MultiView ID="MainView" runat="server">
                                    <asp:View ID="View1" runat="server">
                                        <table style="width: 100%; border-width: 1px; border-color: #666; border-style: solid">
                                            <tr>
                                                <td>
                                                    <asp:GridView ID="dgvGIRefDelivery" runat="server" AutoGenerateColumns="False" Width="100%">
                                                        <HeaderStyle BackColor="#006699" Height="30px"></HeaderStyle>
                                                        <Columns>
                                                            <asp:BoundField DataField="create_date" HeaderText="Create Date">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="120px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="do_no" HeaderText="Invoice / DO">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="120px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="serial_number" HeaderText="S/N">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="120px" />
                                                            </asp:BoundField>
                                                        </Columns>
                                                    </asp:GridView>
                                                </td>
                                            </tr>
                                        </table>
                                    </asp:View>
                                    <asp:View ID="View2" runat="server">
                                        <table style="width: 100%; border-width: 1px; border-color: #666; border-style: solid">
                                            <tr>
                                                <td>
                                                    <asp:GridView ID="dgvDistributionRet" runat="server" AutoGenerateColumns="False" Width="100%">
                                                        <HeaderStyle BackColor="#006699" Height="30px"></HeaderStyle>
                                                        <Columns>
                                                            <asp:BoundField DataField="create_date" HeaderText="Create Date">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="120px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="empty_or_full" HeaderText="Empty / Full">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="90px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="cust_id" HeaderText="Custoemr Code">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="100px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="doc_no" HeaderText="Document Number">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="150px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="serial_number" HeaderText="S/N">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="120px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="vehicle" HeaderText="Vehicle">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="100px" />
                                                            </asp:BoundField>
                                                        </Columns>
                                                    </asp:GridView>
                                                </td>
                                            </tr>
                                        </table>
                                    </asp:View>
                                    <asp:View ID="View3" runat="server">
                                        <table style="width: 100%; border-width: 1px; border-color: #666; border-style: solid">
                                            <tr>
                                                <td>
                                                    <asp:GridView ID="dgvGRFromProduction" runat="server" AutoGenerateColumns="False" Width="100%">
                                                        <HeaderStyle BackColor="#006699" Height="30px"></HeaderStyle>
                                                        <Columns>
                                                            <asp:BoundField DataField="create_date" HeaderText="Create Date">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="120px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="pre_order" HeaderText="Pre Order">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="100px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="batch" HeaderText="Batch">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="110px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="serial_number" HeaderText="S/N">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="120px" />
                                                            </asp:BoundField>
                                                        </Columns>
                                                    </asp:GridView>
                                                </td>
                                            </tr>
                                        </table>
                                    </asp:View>
                                    <asp:View ID="View4" runat="server">
                                        <table style="width: 100%; border-width: 1px; border-color: #666; border-style: solid">
                                            <tr>
                                                <td>
                                                    <asp:GridView ID="dgvGIRefIOEmpty" runat="server" AutoGenerateColumns="False" Width="100%">
                                                        <HeaderStyle BackColor="#006699" Height="30px"></HeaderStyle>
                                                        <Columns>
                                                            <asp:BoundField DataField="create_date" HeaderText="Create Date">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="120px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="do_no" HeaderText="Invoice / DO">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="120px" />
                                                            </asp:BoundField>
                                                            <asp:BoundField DataField="serial_number" HeaderText="S/N">
                                                                <HeaderStyle HorizontalAlign="Center" ForeColor="White" />
                                                                <ItemStyle Width="120px" />
                                                            </asp:BoundField>
                                                        </Columns>
                                                    </asp:GridView>
                                                </td>
                                            </tr>
                                        </table>
                                    </asp:View>
                                </asp:MultiView>
                                <br />
                                <asp:Panel ID="NavigationPanel" Visible="true" runat="server">
                                    <table border="0" cellpadding="3" cellspacing="3">
                                        <tr>
                                            <td>
                                                <asp:Label ID="lblSearchingCount" runat="server" Visible="false"></asp:Label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100">Page
                                            <asp:Label ID="CurrentPageLabel" runat="server" />
                                                of
                                            <asp:Label ID="TotalPagesLabel" runat="server" />
                                            </td>
                                            <td>
                                                <asp:LinkButton ID="Firstpage" Text="<< Start" runat="server" Style="text-decoration: none; color: #089bfc;" OnClick="Firstpage_Click" />
                                            </td>
                                            <td style="width: 60px">
                                                <asp:LinkButton ID="PreviousButton" Text="< Prev" Style="text-decoration: none; color: #089bfc;" runat="server" OnClick="PreviousButton_Click" />
                                            </td>
                                            <td style="width: 60px">
                                                <asp:LinkButton ID="NextButton" Text="Next >" Style="text-decoration: none; color: #089bfc;" runat="server" OnClick="NextButton_Click" />
                                            </td>
                                            <td>
                                                <asp:LinkButton ID="Endpage" Text="End >>" Style="text-decoration: none; color: #089bfc;" runat="server" OnClick="Endpage_Click" />
                                            </td>
                                            <td>
                                                <asp:Label ID="lblpageIndex" runat="server" Text="Page"></asp:Label>
                                            </td>
                                            <td>
                                                <asp:TextBox ID="txtpageIndex" runat="server" Width="35px" MaxLength="4" Height="17px" onkeypress="return isNumberKey(event);"></asp:TextBox>
                                            </td>
                                            <td>
                                                <asp:Button ID="btnGO" runat="server" Text="Go" Width="40px" Style="text-align: center;" CssClass="btnOpen btnOpen-5" Height="22px" OnClick="btnGO_Click" />
                                            </td>
                                        </tr>
                                    </table>
                                </asp:Panel>
                            </asp:Panel>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 15px;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">
                            <asp:Button ID="btnActivateLicence" runat="server" CssClass="btn btn-danger" Text="Activate Licences" OnClick="btnActivateLicence_Click" Width="153px" />&nbsp;&nbsp;&nbsp;
                        <asp:Button ID="btnExport" runat="server" CssClass="btn btn-success" Text="Export To Excel File" Visible="true" OnClick="btnExport_Click" Width="154px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>

                    <tr>
                        <td style="height: 15px; text-align:left;">
                            <asp:Label ID="label1" runat="server" Text="(PDA) Sync Computer :" Font-Bold="True" Font-Size="Larger"></asp:Label>&nbsp;&nbsp;&nbsp;
                            <asp:Label ID="lblResultSync" runat="server" Text="Sync HandHeld" Font-Bold="True" Font-Size="Larger"></asp:Label>
                        </td>
                    </tr>
                </table>
            </ContentTemplate>
            <Triggers>
                <asp:PostBackTrigger ControlID="btnAddMaster" />
                <asp:PostBackTrigger ControlID="btnExport" />
            </Triggers>
        </asp:UpdatePanel>
    </form>
</body>
</html>
