﻿.dns_cb_main 
{
	width: 350px;
}
.dns_cb_close 
{
	width: 159px;
	padding-right: 16px;
	float: left;
}
.dns_cb_close_inner 
{
	float: right;
}
.dns_cb_ok 
{
	width: 159px;
	padding-left: 16px;
	float: left;
}