﻿@charset "UTF-8";
/* CSS Document 

	GREEN   #00ac4f
    ORANG   #006699
	BLACK	 #3d3838
	FONT-BLACK	 #393939
*/

html, body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Arial, Geneva, sans-serif;
    font-size: 12px;
    color: #393939;
    line-height: 18px;
}

.header {
    width: 100%;
    border-top: 5px solid #006699;
}

    .header img.logo {
        margin: 10px 0;
    }

    .header ul {
        float: right;
        margin-top: 48px;
        font-size: 18px;
    }

        .header ul.EN, .header ul.en {
            font-size: 16px;
        }

    .header li {
        float: left;
        padding: 0 10px;
        margin: 0 10px;
    }

        .header li a {
            color: #393939;
            text-decoration: underline;
        }

            .header li a:hover {
                color: #006699;
            }

            .header li a.current {
                color: #006699;
            }

.login {
    position: absolute;
    right: -150px;
    top: 0;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    width: 81px;
    height: 15px;
    text-align: center;
    background-color: #006699;
}

.footer {
    /*position: relative;
    width: 100%;
    padding: 28px 0;
    border-top: 5px solid #d0650b;
    background-color: #383838;*/

    border-top: 5px solid #006699;
    background-color: #383838;
    width: 100%;
    height: 89px;
    padding: 1px 0 1px 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer_in {
    position: relative;
    width: 100%;/*1000px*/;
    top: 0px;
    bottom:0;
    left: 0px;
    height: 87px;
}

.fullpage {
    /*position: relative;*/
    width: 1002px;
    margin: 0 auto !important;
    padding-bottom: 20px;
}
