﻿.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    /*width: auto;
    height: auto%;*/
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    min-width: 600px;
    /*width: 600px;*/
    /*left: -25%;*/
    top: 2%;
    /*left: 25%;
    width: 50%;*/
    left: 21%;
    width: 60%;
    height: 95%;
    min-height: 350px;
    /*margin: 10px auto;*/
    border: 4px solid #3bbeff;
    background-color: white;
    position: absolute; /*relative*/
    z-index: 1002;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;
    /* overflow-y: scroll;
    overflow-x: scroll; */

    /*hidden;*/
    /*position: absolute;*/
    /*top: 25%;
    left: 25%;
    width: 50%;
    height: 100%;
    padding: 16px;
    border: 5px solid #d0650b;
    background-color: white;
    z-index: 1002;
    overflow: auto;*/
}

    .white_content .closeted {
        /*display: none;
        float: right;
        height: 35px;
        left: 22px;
        position: relative;
        top: -16px;
        width: 34px;*/

        position: fixed;
        top: -2px;
        width: 30px;
        height: 30px;
        float: right;
        left: 81%;
    }

table.center {
    margin-left: auto;
    margin-right: auto;
}
